In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
import spacy
NER = spacy.load("en_core_web_sm")
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('tagsets')

df = pd.read_csv('amazon_alexa.tsv', sep='\t')

df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sicom\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\sicom\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\sicom\AppData\Roaming\nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [2]:
df = df.drop(['rating', 'date','feedback' ,'variation'], axis=1)

In [7]:

df['verified_reviews'] = df['verified_reviews'].apply(lambda x: word_tokenize(x))
df

                                       verified_reviews
0                                   [Love, my, Echo, !]
1                                        [Loved, it, !]
2     [Sometimes, while, playing, a, game, ,, you, c...
3     [I, have, had, a, lot, of, fun, with, this, th...
4                                               [Music]
...                                                 ...
3145  [Perfect, for, kids, ,, adults, and, everyone,...
3146  [Listening, to, music, ,, searching, locations...
3147  [I, do, love, these, things, ,, i, have, them,...
3148  [Only, complaint, I, have, is, that, the, soun...
3149                                             [Good]

[3150 rows x 1 columns]

In [8]:
df['verified_reviews'] = df['verified_reviews'].apply(lambda x: nltk.pos_tag(x))
df

                                       verified_reviews
0          [(Love, VB), (my, PRP$), (Echo, NN), (!, .)]
1                     [(Loved, VBN), (it, PRP), (!, .)]
2     [(Sometimes, RB), (while, IN), (playing, VBG),...
3     [(I, PRP), (have, VBP), (had, VBD), (a, DT), (...
4                                         [(Music, JJ)]
...                                                 ...
3145  [(Perfect, NNP), (for, IN), (kids, NNS), (,, ,...
3146  [(Listening, VBG), (to, TO), (music, NN), (,, ...
3147  [(I, PRP), (do, VBP), (love, VB), (these, DT),...
3148  [(Only, RB), (complaint, NN), (I, PRP), (have,...
3149                                       [(Good, JJ)]

[3150 rows x 1 columns]

In [9]:
dictionary = {}

In [84]:
for rev in df['verified_reviews']:
    for word in rev:
        if word[1] in dictionary:
            if word[0] not in word[1]:
                dictionary[word[1]].add(word[0])
        else:
            dictionary[word[1]] = set(word[0])

In [87]:
for key in dictionary:
    dictionary[key] = list(dictionary[key])

In [10]:
print(dictionary)

{}

In [89]:
out = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dictionary.items() ]))
out

,VB,PRP$,NN,.,VBN,PRP,RB,IN,VBG,DT,...,RBS,#,EX,FW,``,'',UH,NNPS,WP$,SYM
0,Play,his,twitter,?,invested,me,chat,between,providing,tooth,...,best,#,there,etc.,`,',yeah,People,e,b
1,recommend,its,joke.,!,assigned,himself,seamlessly,upon,maintaining,every,...,m,NaN,T,e,NaN,NaN,Well,r,s,m
2,recognize,our,refurbishing,NaN,loved,we,youtube,throughout,recording,These,...,s,NaN,r,”,NaN,NaN,Yep,e,o,o
3,thats,their,news,NaN,her,her,Actually,laugh,sounding,an,...,o,NaN,e,c,NaN,NaN,e,Answers,h,t
4,ise,m,man,NaN,Compared,t,So,okay,running,either,...,t,NaN,weather,de,NaN,NaN,Oh,m,w,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,NaN,NaN,beginning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1677,NaN,NaN,navigation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1678,NaN,NaN,carrier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1679,NaN,NaN,dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680,NaN,NaN,scroll,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
!pip install xlwt
out.to_excel('postagging.xls')

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     ------------------------------------ 100.0/100.0 kB 409.8 kB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

C:\Users\sicom\AppData\Local\Temp\ipykernel_5968\871614500.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  out.to_excel('postagging.xls')

In [ ]:
df['verified_reviews_NER'] = df['verified_reviews'].apply(lambda x: NER(x))

In [ ]:
df['verified_reviews_NER']

In [ ]:
dict_ner = {}
for rev in df['verified_reviews_NER']:
    for word in rev.ents:
        if word.label in dictionary:
            if word.text not in dictionary[word.label]:
                dictionary[word[1]].add(word[0])
        else:
            dictionary[word[1]] = set(word[0])