In [8]:
import numpy as np
import pandas as pd
import re
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import spacy
!python -m spacy download en_core_web_lg
NER = spacy.load("en_core_web_lg")
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('tagsets')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

df = pd.read_csv('amazon_alexa.tsv', sep='\t')

df.head()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting en-core-web-lg==3.4.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl (587.7 MB)
     |████████████████████████████████| 587.7 MB 9.8 kB/s
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from en-core-web-lg==3.4.0) (3.4.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (8.1.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2.11.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (4.64.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (57.4.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (1.0.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (3.0.10)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (1.21.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2.0.8)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (1.0.8)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2.4.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (0.10.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (1.9.2)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (0.4.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (3.3.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (3.0.7)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2.23.0)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (4.1.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (21.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (0.6.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (3.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (5.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2.10)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (0.7.8)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.0) (2.0.1)
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_lg')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Package tagsets is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [9]:
df = df.drop(['rating', 'date','feedback' ,'variation'], axis=1)

In [10]:
def clean_text(review):
    stopword = set(stopwords.words('english'))
    stopword.add('')
    review = word_tokenize(review)
    review = [rev.lower() for rev in review]
    review = [re.sub("[^A-Za-z0-9]",' ',rev) for rev in review]
    review = [re.sub(r'[0-9]+',' ',rev) for rev in review]
    review = " ".join(WordNetLemmatizer().lemmatize(i) for i in review if i not in stopword)
    
    return review

df['verified_reviews'] = df['verified_reviews'].apply(lambda rev: clean_text(rev))

df

                                       verified_reviews
0                                           love echo
1                                               loved
2     sometimes playing game   answer question corre...
3     lot fun thing     yr old learns dinosaur   con...
4                                                 music
...                                                 ...
3145                   perfect kid   adult everyone
3146  listening music   searching location   checkin...
3147  love thing   running entire home   tv   light ...
3148  complaint sound quality n t great   mostly use...
3149                                               good

[3150 rows x 1 columns]

In [11]:
df['verified_reviews_POS'] = df['verified_reviews'].apply(lambda x: nltk.pos_tag(x.split()))
df

,verified_reviews,verified_reviews_POS
0,love echo,"[(love, NN), (echo, NN)]"
1,loved,"[(loved, VBN)]"
2,sometimes playing game answer question corre...,"[(sometimes, RB), (playing, VBG), (game, NN), ..."
3,lot fun thing yr old learns dinosaur con...,"[(lot, NN), (fun, JJ), (thing, NN), (yr, NN), ..."
4,music,"[(music, NN)]"
...,...,...
3145,perfect kid adult everyone,"[(perfect, JJ), (kid, NN), (adult, NN), (every..."
3146,listening music searching location checkin...,"[(listening, VBG), (music, NN), (searching, VB..."
3147,love thing running entire home tv light ...,"[(love, JJ), (thing, NN), (running, VBG), (ent..."
3148,complaint sound quality n t great mostly use...,"[(complaint, NN), (sound, NN), (quality, NN), ..."
3149,good,"[(good, JJ)]"

In [12]:
dictionary = {}
for rev in df['verified_reviews_POS']:
    for word in rev:
        if word[1] in dictionary:
            #if word[0] not in word[1]:
            dictionary[word[1]].add(word[0])
        else:
            dictionary[word[1]] = set(word[0])

In [13]:
for key in dictionary:
    dictionary[key] = list(dictionary[key])

In [14]:
postag = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dictionary.items() ]))
postag

,NN,VBN,RB,VBG,JJR,JJ,VBP,IN,VBZ,VBD,...,TO,WRB,RP,WP,EX,WP$,WDT,NNP,RBS,UH
0,medium,read,i,understanding,cheaper,re,read,en,corresponds,tickled,...,a,when,bathroom,who,there,s,v,x,k,s
1,stat,ignored,bit,exchanging,sister,fire,buy,nicer,depreciates,re,...,na,o,alexa,r,t,o,r,s,m,y
2,navigation,raised,importantly,interacting,cualquier,intrusive,reccomend,whether,broken,handled,...,n,w,audio,s,NaN,w,whatever,jump,best,yes
3,agent,cancelled,straightforward,touching,bigger,adopter,re,with,task,red,...,to,wow,p,warehouse,NaN,h,whatsoever,fire,e,e
4,pin,dated,presumably,asking,w,tardis,gb,thestand,guy,ran,...,NaN,whenever,awhile,u,NaN,e,w,k,a,oh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1782,miss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1783,standalone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784,excellent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1785,department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1786,challenge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
!pip install xlwt
postag.to_excel('postagging.xlsx')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlwt in /usr/local/lib/python3.7/dist-packages (1.3.0)

In [16]:
df['verified_reviews_NER'] = df['verified_reviews'].apply(lambda x: NER(x))

In [17]:
df['verified_reviews_NER']

0                                         (love, echo,  )
1                                              (loved,  )
2       (sometimes, playing, game,   , answer, questio...
3       (lot, fun, thing,     , yr, old, learns, dinos...
4                                                 (music)
                              ...
3145             (perfect, kid,   , adult, everyone,    )
3146    (listening, music,   , searching, location,   ...
3147    (love, thing,   , running, entire, home,   , t...
3148    (complaint, sound, quality, n, t, great,   , m...
3149                                               (good)
Name: verified_reviews_NER, Length: 3150, dtype: object

In [18]:
dict_ner = {}
for rev in df['verified_reviews_NER']:
    for word in rev.ents:
        if word.label_ in dict_ner:
            dict_ner[word.label_].add(word.text)
        else:
            dict_ner[word.label_] = set(word.text)
            
dict_ner

{'CARDINAL': {'almost half',
  'e',
  'five',
  'four',
  'four   five',
  'half',
  'hundred',
  'hundred thousand',
  'n',
  'nearly half',
  'o',
  'one',
  'one two',
  'six',
  'three',
  'three three',
  'two',
  'two   one',
  'two   three',
  'two three',
  'zero'},
 'TIME': {' ',
  'afternoon',
  'couple minute',
  'e',
  'evening',
  'every morning',
  'g',
  'hour',
  'hour minute',
  'i',
  'last night',
  'late night',
  'le   minute  ',
  'm',
  'middle night',
  'minute',
  'morning',
  'multiple hour',
  'n',
  'night',
  'night hour',
  'o',
  'one night',
  'r',
  'sometimes night',
  'v',
  'y'},
 'ORDINAL': {'c',
  'd',
  'e',
  'first',
  'fourth',
  'n',
  'o',
  's',
  'second',
  'third'},
 'ORG': {'a',
  'abc',
  'abd',
  'alexa',
  'alexa clean house',
  'amazon',
  'amazon  s',
  'amazon alexa',
  'amazon cam  s job',
  'amazon n',
  'amazon n t',
  'amazon netflix',
  'amazon sonos',
  'amazon web service n t',
  'amazon zigbee',
  'arlo security',
  'ase',
  'bettter netflix',
  'c',
  'camelot',
  'cbs',
  'charlotte nc channel   ',
  'clockhome',
  'cnn',
  'consumer  s',
  'cordthank',
  'cozi',
  'defently',
  'divertido',
  'e',
  'ecoo',
  'esta en espa ol  ',
  'extrimelly',
  'fidelity',
  'hbo',
  'hd',
  'house',
  'hulu netflix',
  'iheart radio',
  'iheartradio',
  'informaci n de cualquier estudio que est s realizando atr s vez del internet  ',
  'isue     month',
  'k tv',
  'l',
  'llama la atenci n la rapidez de respuesta el control que se logra trav s de la utilizaci n con alexa',
  'luv',
  'luv    s',
  'm',
  'madlibs',
  'mb house',
  'mexico one usa',
  'nbc',
  'nd gen',
  'nervana',
  'netflix',
  'netflix amazon',
  'netflix tv',
  'netflix youtube',
  'nfl football',
  'nit',
  'npr',
  'o',
  'omg',
  'omg far',
  'omg love',
  'pel culas tiene se pueden cambiar espa ol',
  'perdi',
  'philip bridge',
  'philip hub',
  'philip hue',
  'philip hue   z',
  'philip hue bridge',
  'philip hue bulb',
  'philip light',
  'phillip  s hue',
  'phillips',
  'phillips hub',
  'phillips hue',
  'phillips hue lights',
  'powercord',
  'qualty',
  'qvc',
  'reportsalarm clock',
  'samsung',
  'samsung tv  s',
  'screamig',
  'serius sm  ',
  'showtime',
  'sirrius xm',
  'soluci n  ',
  'sony',
  'speech n t',
  'sync  d etekcity voltson wi',
  't',
  'toda su escencia',
  'un excelente equipo',
  'unwitty',
  'viceo',
  'wellfour',
  'wifi hdm  tv     ',
  'wikipedia',
  'woohoo       ',
  'workreat',
  'yale lock',
  'youtube',
  'youtube audioapple user'},
 'PERSON': {'al estar',
  'alex',
  'alex app',
  'alex cool  ',
  'alexa',
  'alexa  s sister',
  'alexa awesome   ',
  'alexa dot',
  'alexia usde',
  'alexus',
  'barry',
  'bloomberg tv',
  'bob dylan',
  'bose',
  'bose mini',
  'bose soundtouch',
  'buld',
  'chachki',
  'cozi',
  'creapy af',
  'denon av',
  'el tiempo',
  'excelente',
  'excelente funciona',
  'excelente su funcionamiento',
  'gb',
  'goodmorning',
  'habla espanol',
  'hahaawesome',
  'hal  ',
  'hora',
  'i',
  'ipdates',
  'jack',
  'jeff bezos',
  'johnny river',
  'june hulu',
  'lo unico e que',
  'majel barret  s',
  'moana',
  'muy recomendable',
  'nana',
  'netflix hulu',
  'netflix hulu alexa',
  'new bff',
  'prd ttl sol  ',
  'r',
  'roku',
  's',
  's bose  s',
  'siri',
  'sorprendi  gratamente',
  'soundlink',
  'ssdi',
  'waking smith  ',
  'white  ',
  'yhe',
  'zzzz'},
 'NORP': {'a',
  'american',
  'anylist',
  'british',
  'emoji',
  'english',
  'i',
  'italian',
  'l',
  'n',
  'scottish',
  'screenselect',
  'spanish',
  't'},
 'DATE': {' ',
  'a',
  'around   week',
  'around week',
  'august',
  'couple month',
  'couple week',
  'd',
  'daily',
  'day',
  'e',
  'every couple month',
  'every day',
  'first day',
  'five year old',
  'four year old',
  'friday',
  'g',
  'i',
  'last   month',
  'last   week',
  'last couple week',
  'm',
  'many year',
  'month',
  'month ago',
  'monthly',
  'n',
  'next day',
  'one   year old',
  'one age ago',
  'one day',
  'one week',
  'p',
  'past   day',
  'prime day',
  'prime day  nd gen',
  'prime day delivered day      ',
  'prime day one',
  'prime day week',
  'primeday',
  'r',
  'second one week',
  'several day',
  'several month',
  'start day',
  't week',
  'the next day',
  'three day',
  'three day later',
  'three year old',
  'thursday',
  'today',
  'tomorrow',
  'two day',
  'two week',
  'two year old',
  'unplugged day',
  'used year   ',
  'week',
  'week   week',
  'week ago',
  'weekday',
  'weekly',
  'well   month',
  'well day',
  'went week',
  'whole month',
  'y',
  'year',
  'year ago',
  'year old',
  'year past',
  'yesterday'},
 'GPE': {'a',
  'alabama',
  'e',
  'hong kong',
  'india',
  'italy',
  'korea',
  'miami',
  'new bff',
  'new york',
  'north carolina',
  'ny',
  'ny nj',
  'o',
  'overa',
  'r',
  's le',
  'sqyxtw',
  'suffolk county',
  'tunein',
  'ummm',
  'v'},
 'LANGUAGE': {'e', 'english', 'g', 'h', 'i', 'l', 'n', 's', 'spanish'},
 'MONEY': {' ', 'e', 'every penny', 'n', 'p', 'r', 'v', 'y'},
 'QUANTITY': {' ', 'e', 'f', 'n', 'o', 't', 'ten foot'},
 'LOC': {' ', 'a', 'e', 'h', 'n', 'o', 'r', 's', 't', 'x', 'zigbee alexa'},
 'FAC': {' ', 'a', 'b', 'e', 'h', 'l', 'u', 'x', 'zigbee hub'}}

In [19]:
for key in dict_ner:
    dict_ner[key] = list(dict_ner[key])

In [20]:
out_ner = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dict_ner.items() ]))
out_ner

,CARDINAL,TIME,ORDINAL,ORG,PERSON,NORP,DATE,GPE,LANGUAGE,MONEY,QUANTITY,LOC,FAC
0,hundred thousand,minute,third,amazon netflix,alexa,scottish,thursday,miami,english,v,,x,x
1,two three,g,first,isue month,alex app,english,one age ago,tunein,l,r,f,r,l
2,four,night,s,wifi hdm tv,june hulu,l,p,alabama,i,,o,s,
3,two three,y,second,iheartradio,gb,i,weekly,north carolina,s,p,ten foot,,u
4,hundred,hour,o,viceo,bob dylan,screenselect,august,suffolk county,n,every penny,n,o,zigbee hub
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,NaN,NaN,NaN,sony,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,nervana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,hbo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,consumer s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
out_ner.to_excel('ner.xlsx')

In [22]:
dict_dep = { 'Token': [], 'Relation':[],'Head':[],'Children':[]}
for rev in df['verified_reviews_NER']:
    for token in rev:
        dict_dep['Token'].append(str(token.text))
        dict_dep['Relation'].append(str(token.dep_))
        dict_dep['Head'].append(str(token.head.text))
        dict_dep['Children'].append(str([child for child in token.children]))

            
out_dep = pd.DataFrame(dict_dep)
out_dep.head(-10)

       Token Relation   Head             Children
0       love    nsubj   echo                   []
1       echo     ROOT   echo            [love,  ]
2                 dep   echo                   []
3      loved     ROOT  loved                  [ ]
4                 dep  loved                   []
...      ...      ...    ...                  ...
51080   kind     amod  thing                   []
51081  thing     dobj     re  [bothered, kind,  ]
51082             dep  thing                   []
51083      d    nsubj     go                   []
51084     go     conj     re                  [d]

[51085 rows x 4 columns]

In [23]:
out_dep.to_excel('dep.xlsx')